{% extends 'layouts/base.html' %}

{% block title %}
Medicine
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% include 'partials/_message.html' %}
    <a href="{% url 'medicines' %}" class="btn btn-primary btn-sm mb-2">BACK</a>
    <div class="card">
        <div class="card-header">
            <h2>Add Medicine</h2>
        </div>
        <div class="card-body">
            <form action="{% url 'add-medicine' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary col-12" value="Add">
            </form>
        </div>
    </div>
</div>
{% endblock %}