{% extends 'layouts/base.html' %}

{% block title %}
Medicine
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% include 'partials/_message.html' %}
    <div class="card">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Expiry Date</th>
                    <th>MG</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th colspan="3">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for val in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ val.name }}</td>
                    <td>{{ val.description }}</td>
                    <td>{{ val.expiry_date }}</td>
                    <td>{{ val.mg }}</td>
                    <td>{{ val.price }}</td>
                    <td>{{ val.quantity }}</td>
                    <td><a href="{% url 'edit-medicine' val.id %}">Edit</a></td>
                    <td><a href="{% url 'show-medicine' val.id %}">Show</a></td>
                    <td><a href="{% url 'delete-medicine' val.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}