{% extends 'layouts/base.html' %}

{% block title %}
Medicine
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% include 'partials/_message.html' %}
    <div class="card">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Expiry Date</th>
                    <th>MG</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Paracetamol</td>
                    <td>For fever and headache</td>
                    <td>01-02-2023</td>
                    <td>500</td>
                    <td>25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Paracetamol</td>
                    <td>For fever and headache</td>
                    <td>01-02-2023</td>
                    <td>500</td>
                    <td>25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Paracetamol</td>
                    <td>For fever and headache</td>
                    <td>01-02-2023</td>
                    <td>500</td>
                    <td>25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Paracetamol</td>
                    <td>For fever and headache</td>
                    <td>01-02-2023</td>
                    <td>500</td>
                    <td>25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Paracetamol</td>
                    <td>For fever and headache</td>
                    <td>01-02-2023</td>
                    <td>500</td>
                    <td>25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Paracetamol</td>
                    <td>For fever and headache</td>
                    <td>01-02-2023</td>
                    <td>500</td>
                    <td>25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Paracetamol</td>
                    <td>For fever and headache</td>
                    <td>01-02-2023</td>
                    <td>500</td>
                    <td>25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Paracetamol</td>
                    <td>For fever and headache</td>
                    <td>01-02-2023</td>
                    <td>500</td>
                    <td>25</td>
                    <td>3</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}